<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Provider</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script src="script/service3.js"></script>
</head>

<body ng-app="demo">
    <div ng-controller="demo1">
        <button ng-click="getData()">getData</button>
        <table border="1">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Designation</th>
                <th>City</th>
                <th>Zip</th>
                <th>Salary</th>
            </thead>
            <tbody>
                <tr ng-repeat="e in employees">
                    <td>{{$index + 1}}</td>
                    <td>{{e[0]}}</td>
                    <td>{{e[1]}}</td>
                    <td>{{e[2]}}</td>
                    <td>{{e[3]}}</td>
                    <td>{{e[4]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>